@model IEnumerable<WebIDZ.Models.Мастер>
@{
    ViewBag.Title = "Мастера";
}

<h2>@ViewBag.Title</h2>

<p>
    <a href="@Url.Action("Create")" class="btn btn-success">Добавить мастера</a>
</p>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Фамилия)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Имя)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Отчество)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Квалификация)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Должность)
            </th>
            <th class="text-center"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Фамилия)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Имя)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Отчество)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Квалификация)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Должность)
                </td>
                <td class="text-center">
                    <a href="@Url.Action("Details", new { id = item.ID_мастера })" class="btn btn-info">Детали</a>
                </td>
            </tr>
        }
    </tbody>
</table>